profiles {

    standard {
        process.executor = 'local'
	//conda.cacheDir = "$WORKFLOW_ROOT/cached_envs"
        conda.createTimeout = "30 min"
    }


    cluster{
        process.executor='lsf'
        process.queue='production-rh74'
        process.clusterOptions = '-R \"select[hname!=\'hx-noah-05-02\']\"'

        executor.queueSize=1000
        executor.perJobMemLimit=true
        executor.exitReadTimeout='100000 sec'
        executor.pollInterval = '5sec'

	//conda.cacheDir = "$WORKFLOW_ROOT/cached_envs"
        conda.createTimeout = "30 min"
        submitRateLimit = '1 / 15 s'

    } 
}

params {
    results_dir = "${baseDir}/outputs" // output for outer WF 
    training_10x_dir = "${baseDir}/data/data_10X"
    training_metadata = "${baseDir}/data/unmelted_sdrf.tsv"
    projection_method = "cell" //must be 'cell' or 'cluster'
    training_dataset_id = "dummy"

    cached_envs = "${baseDir}/cached_envs"



    col_names = "TRUE"
    cell_id_col = "Comment.ENA_RUN."
    cluster_col = "Characteristics.cell.type."
   
    threshold = 0.1
    //num_chunks = 'NULL'
    //num_clusters = 'NULL'
    //num_nearset_neighbours
}

env { 
    WORKFLOW_ROOT="$WORKFLOW_ROOT" 
}
